<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}
{% block body_block %}
    <div class="container pt-5 mt-5">
        <div class="flex flex-col space-y-4 text-center">
            <h2 class="mx-auto my-2 max-w-md text-2xl font-medium tracking-tight md:text-3xl">Success.</h2>
            <p>Your application was submitted.</p>
        </div>
    </div>
    <div class="container" id="info">
        <div class="row pt-4">
            <div class="col-12">
                <div class="flex flex-col space-y-4 text-center">
                    <p>Please find below a number of relevant documents concerning long-term care.</p>
                    <p>
                        <a href="https://www.google.de/" target="_blank">Pflege-Checkliste</a>
                    </p>
                    <p>
                        <a href="https://www.google.de/" target="_blank">Informationsblatt zur Pflege</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock body_block %}
