<!DOCTYPE html>
{% extends "base.html" %}
{% block body_block %}
    <div class="container pt-5 mt-5">
        <div class="flex flex-col space-y-4 text-center">
            <h2 class="mx-auto my-2 max-w-md text-2xl font-medium tracking-tight md:text-3xl">
                Bitte überprüfen und bestätigen Sie Ihre Angaben.
            </h2>
        </div>
    </div>
    <div class="container pt-1 mt-5" id="applicant">
        <div class="row pt-1">
            <div class="col-12">
                <div class="accordion" id="accordionMainApplicant">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingMainApplicant">
                            <button class="accordion-button collapsed"
                                    type="button"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#collapseMainApplicant"
                                    aria-expanded="false"
                                    aria-controls="collapseMainApplicant">Ihre persönlichen Angaben</button>
                        </h2>
                        <div id="collapseMainApplicant"
                             class="accordion-collapse collapse"
                             aria-labelledby="headingMainApplicant"
                             data-bs-parent="#accordionMainApplicant">
                            <div class="accordion-body">
                                <div class="ms-2 me-auto">
                                    <div>Name: {{ applicant.first_name }}, {{ applicant.last_name }}</div>
                                    <div>Versicherungsnummer: {{ applicant.insurance_number }}</div>
                                    <div>Addresse: {{ applicant.street_number }}, {{ applicant.zip_code }} {{ applicant.city }}</div>
                                    <button class="btn btn-dark m-1" name='edit' type="submit">Bearbeiten</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container pt-1 mt-1" id="application">
        <div class="row pt-1">
            <div class="col-12">
                <div class="accordion" id="accordionMainApplication">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingMainApplication">
                            <button class="accordion-button collapsed"
                                    type="button"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#collapseMainApplication"
                                    aria-expanded="false"
                                    aria-controls="collapseMainApplication">Ihre Antrags-Daten</button>
                        </h2>
                        <div id="collapseMainApplication"
                             class="accordion-collapse collapse"
                             aria-labelledby="headingMainApplication"
                             data-bs-parent="#accordionMainApplication">
                            <div class="accordion-body">
                                <div class="ms-2 me-auto">
                                    <div>Erstantrag: {{ application.first_application }}</div>
                                    <div>Leistungen, die beantragt werden sollen: {{ application.selected_services }}</div>
                                    <button class="btn btn-dark m-1" name='edit' type="submit">Bearbeiten</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container" id="consent">
        <div class="flex flex-col space-y-4 text-center">
            <div class="row pt-4">
                <div class="col-12">
                    <form method="post">
                        {{ form.as_p }}
                        {% csrf_token %}
                        <a href="https://www.google.de/" target="_blank">Schweigepflichtentbindung & Einwilligungserklärung</a>
                        <br>
                        <br>
                        <input type="submit" class="btn btn-dark" value="Antrag abschicken">
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock body_block %}
